
@{
    ViewBag.Title = "About";
}

<br />

<div class="container bg-info">
    <br />
    <br />
    <br />
    <h2>About Us</h2>
    <p>
        We are a family of brands, driven by our desire to make great
        design available to everyone in a sustainable way. Together we
        offer fashion, design and services, that enable people to be inspired
        and to express their own personal style, making it easier to live
        in a more circular way.
        <br />
        <br />

        <strong>Shop Tastic</strong> has been recognized by Great Place to Work® to be amongst the
        top 10 workplaces in Europe. More than 2.300 companies participated
        in national list studies. Of these, the 100 Best Workplaces in Europe were determined.
    </p>

    <br />
    <br />
    <br />

</div>